@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to remove unused styles in production */
@layer components {
  /* Your custom styles here */
}

body {
    font-family: 'Poppins', sans-serif; /* Updated to Poppins */
}

/* Button styles */


/* Card hover effects */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Additional styles for better aesthetics */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif; /* Updated to Poppins */
}